## История олимпийских игр

Данные содержат следующие признаки:

* ID - Unique number for each athlete
* Name - Athlete's name
* Sex - M or F
* Age - Integer
* Height - In centimeters
* Weight - In kilograms
* Team - Team name
* NOC - National Olympic Committee 3-letter code
* Games - Year and season
* Year - Integer
* Season - Summer or Winter
* City - Host city
* Sport - Sport
* Event - Event
* Medal - Gold, Silver, Bronze, or NA

In [168]:
import pandas as pd

In [186]:
data = pd.read_csv('athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

**1. Сколько лет было самым молодым участникам (мужчина и женщина) олимпийских игр в 1992 году?**

In [170]:
data[data['Year'] == 1992].groupby('Sex')[['Age']].min()

      Age
Sex
F    12.0
M    11.0

In [283]:
dct_age = data[data['Year'] == 1992].groupby('Sex')[['Age']].min().to_dict()['Age']
print(f"Самой молодой участнице олимпийских игр в 1992 году было: {int(dct_age['F'])} лет")
print(f"Самому молодому участнику олимпийских игр в 1992 году было: {int(dct_age['M'])} лет")

Самой молодой участнице олимпийских игр в 1992 году было: 12 лет
Самому молодому участнику олимпийских игр в 1992 году было: 11 лет

__2. Найдите среднее для роста теннисисток (большой теннис), которые участвовали в играх 2000 года.__

In [177]:
data[(data['Sex'] == 'F') & (data['Sport'] == 'Tennis') & (data['Year'] == 2000)]['Height'].mean()

171.792

__3. Выведите названия всех уникальных дисциплин, связанных с катанием на коньках (Skating). Посчитайте их количество__

In [180]:
data[data['Sport'].str.contains('Skating')]['Sport'].unique()

array(['Speed Skating', 'Figure Skating', 'Short Track Speed Skating'],
      dtype=object)

In [181]:
data[data['Sport'].str.contains('Skating')]['Sport'].nunique()

3

__4. Выведите всех спортсменов, которые завоевали серебрянные медали в Париже. Посчитайте их количество__

In [182]:
data[(data['City'] == 'Paris') & (data['Medal'] == 'Silver')]['Name']

663                Max "Xam" Abegglen
917           Harold Maurice Abrahams
2403                   Anselm Ahlfors
2637                     Franz Aigner
4017                   Auguste Albert
                     ...
261463             Frank Henry Wilson
262731            William "Bill" Wood
263619    Paul H. (-Paul Knuth) Wyatt
265263              Jack Butler Yeats
271010                  Anton Zwerina
Name: Name, Length: 509, dtype: object

In [184]:
data[(data['City'] == 'Paris') & (data['Medal'] == 'Silver')]['Name'].shape[0]

509

__5. Найдите самую легкую (по весу) атлетку игр 2006 года. В каком виде спорта она участвовала?__

In [271]:
data[(data['Year'] == 2006) & (data['Sex'] == 'F')].sort_values(by=['Weight'])['Sport'].iloc[0]

'Figure Skating'

__6. В скольких олимпиадах принимал участие John Aalberg?__

In [191]:
data[(data['Name'] == 'John Aalberg')]['Games'].nunique()

2

__7. Сколько золотых медалей настольном теннисе выиграл Китай на Олимпиаде в 2008 году?__

Подготавливаю словарь с названиями стран и соответсвующими им NOC на основе данных из Wikipedia (https://en.wikipedia.org/wiki/List_of_IOC_country_codes)

In [237]:
data_NOC = pd.read_csv('NOC_Country.csv', sep=';')
data_NOC['NOC'] = data_NOC['NOC'].str.strip()
data_NOC['Country'] = data_NOC['Country'].str.strip()
data_NOC.head()

   NOC      Country
0  AFG  Afghanistan
1  ALB      Albania
2  ALG      Algeria
3  AND      Andorra
4  ANG       Angola

In [238]:
# Устанавливаю поле NOC индексом датасета
data_NOC = data_NOC.set_index('NOC')

# Создаю словарь, где ключом будет NOC, а значением Название страны
dct_NOC = data_NOC.to_dict()['Country']

In [240]:
# Создаю поле 'Country' в датафрейме data на основе значений из словаря dct_NOC
data['Country'] = data['NOC'].apply(lambda x: dct_NOC[x]) #dct_NOC[x]
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Country
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands

Получаю ответ:

In [256]:
data[(data['Year'] == 2008) & (data['Country'] == 'China') & (data['Sport'] == 'Table Tennis') & (data['Medal'] == 'Gold')]['ID'].count()

8

__8. Правда ли, что Испания выиграла меньше медалей чем Италия на играх 2016 года? Не учитывайте NaN в колонке _Medal_.__

In [255]:
dct_med = dict(data[(data['Year'] == 2016) & ((data['Country'] == 'Spain') | (data['Country'] == 'Italy'))].groupby('Country')['Medal'].count())
dct_med
dct_med['Spain'] < dct_med['Italy']

True

__9. Какая страна завоевала больше всех медалей в Figure Skating за всю историю?__

In [269]:
data_grp_FigSk = data[data['Sport'] == 'Figure Skating'].groupby('Country')['Medal'].count().reset_index()
data_grp_FigSk.sort_values(by=['Medal'], ascending = False)['Country'].iloc[0]

'United States'